<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuation DTD 3.0 //EN"
        "http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/lpl</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">clblue</property>
        <property name="connection.password">Pass456@</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="user/Product.hbm.xml"/>
    </session-factory>
</hibernate-configuration>